body {
  background: url("http://s9.favim.com/orig/130721/beautiful-books-figurines-photography-shelf-Favim.com-791760.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.main {
  color: white;
}